/PrvniAplikace/nbproject/private/
/PrvniAplikace/build/
PrvniAplikace/nbproject/project.xml
PrvniAplikace/nbproject/project.properties
PrvniAplikace/nbproject/genfiles.properties
PrvniAplikace/nbproject/build-impl.xml
PrvniAplikace/manifest.mf
PrvniAplikace/build.xml
/HelloWorld/nbproject/private/
/Kokot/nbproject/private/
HelloWorld/nbproject/project.xml
*.xml
HelloWorld/nbproject/project.properties
HelloWorld/src/.DS_Store
HelloWorld/nbproject/genfiles.properties
HelloWorld/manifest.mf
HelloWorld/.DS_Store
.DS_Store
/Parrot/nbproject/private/
/Parrot/dist/
/Parrot/build/